.about-container {
  background-color: var(--baby-powder);
  height: 70vh;
  min-height: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-container {
  position: relative;
  height: 70vh;
  min-height: 550px;
  width: 50vw;
}
.left-introduction-container-on {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--raisin-black);
  color: var(--baby-powder);
  height: 70vh;
  min-height: 550px;
  width: 50vw;
  left: 0;
  transition-duration: 1s;
  box-shadow: inset 0px 0px 5px 3.75px rgba(0, 0, 0, 1);
}
.left-introduction-container-off {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--raisin-black);
  color: var(--baby-powder);
  height: 70vh;
  min-height: 550px;
  width: 50vw;
  left: -50vw;
  transition-duration: 1s;
}

.intro-text-container {
  padding: 20px;
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.intro-header-container {
  line-height: 500%;
}

.intro-paragraph-container {
  line-height: 250%;
  padding: 0 7% 0 7%;
}

.intro-contact-container {
  line-height: 200%;
}

.right-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 70vh;
  width: 50vw;
}

.right-image-container-on {
  position: absolute;
  right: 50%;
  transform: translate(50%);
  height: 400px;
  width: 325px;
  transition-duration: 1s;
  box-shadow: inset 0px 0px 5px 3.75px rgba(0, 0, 0, 1);
}

.right-image-container-off {
  position: absolute;
  right: -50vw;
  height: 400px;
  width: 325px;
  transition-duration: 1s;
}

.right-image {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: var(--baby-powder);
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-border-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -10px;
  left: -10px;
  background-image: linear-gradient(var(--russian-green), var(--key-lime));
  z-index: 0;
}

.background-border-2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -20px;
  right: -20px;
  background-image: linear-gradient(var(--key-lime), var(--russian-green));
  z-index: 0;
}

.background-border-fill {
  position: absolute;
  height: 99%;
  width: 99%;
  z-index: 50;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--baby-powder);
}
